.grid {
  width: 219px;
}
.grid:after {
  content: '';
  clear: both;
  display: block;
}
.cell {
  list-style: none;
  float: left;
  height: 67px;
  width: 67px;
  background: grey;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  font-size: 60px;
}
.cell:hover {
  background: yellow;
}
.coloredcell {
  background: red;
}
